<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <meta http-equiv="X-UA-Compatible" content="IE=8"/>
        <!-- <script src="lib/hello.js" type="text/javascript"> </script> -->
        <script src="../../../static/hello.js" type="text/javascript"> </script>

        <script type="text/javascript">
         var List = {{ List|safe }};
         var Dict = {{ Dict|safe }};
         alert(List)
        </script>

    </head>
    <body style="background: white; font-size: 12px;"> 

        <h2>Welcome to PRI System</h2>
        <p>
            by Stone
        </p>


    </body>
</html>
