<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SKU Info</title>     
	<meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <link href="../LigerUI/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="../LigerUI/lib/ligerUI/skins/Gray2014/css/all.css" rel="stylesheet" />
    <script src="../LigerUI/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="../LigerUI/lib/ligerUI/js/ligerui.all.js"></script>
    <script src="../LigerUI/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="../LigerUI/lib/jquery-validation/jquery.metadata.js"></script>
    <script src="../LigerUI/lib/jquery-validation/messages_cn.js"></script>
    <script type="text/javascript">
        $(function ()
        {
           // $("#form1").ligerForm({
            //    validate: true
            //});
        });

 
    </script>
    <style type="text/css">
            body
            {
                padding-left:10px;
                font-size:13px;
            }
            h1
            {
                font-size:20px;
                font-family:Verdana;
            }
            h4
            {
                font-size:16px;
                margin-top:25px;
                margin-bottom:10px;
            }

            .description
            {
                padding-bottom:30px;
                font-family:Verdana;
            }
            .description h3
            {
                color:#CC0000;
                font-size:16px;
                margin:0 30px 10px 0px;
                padding:45px 0 8px;
                border-bottom:solid 1px #888;
            }
        td {
            padding: 5px;
        }
        input {
            word-wrap:normal;
            width:300px
        }
        select {
            word-wrap:normal;
            width:304px
        }
        textarea {
            word-wrap:normal;
            width:713px
        }

    </style>

</head>

<body style="padding:10px">
 
     <h1>Jira Ticket Info</h1><font color=red>{{err|safe}}</font>
       

    <form id="form1" name="form1" method="post" action="/pri_db/?">
        <table>
                    {% csrf_token %}
                    <input id="op"  name="op" type="hidden" value='update'    />
                    <input id="tb"  name="tb" type="hidden" value='jira_list'    />
                    <input id="ext"  name="ext" type="hidden" value='_oempri'    />
            <tr>
                <td><label >ID:</label></td>
                <td><input id="id" name="id" type="text"  value="{{id}}" /></td>
                <td><label>Ticket ID:</label></td>
                <td><input id="Key" name="Key" type="text" value="{{Key}}" /></td>
            </tr>
            
            <tr>
                <td><label>Status:</label></td>
                <td><input id="Status"  name="Status" type="text" class="ui-textbox" value="{{Status}}" /></td>
                <td><label >Components:</label></td>
                <td><input id="Components" name="Components" type="text" value="{{Components}}" /></td>
            </tr>
            <tr>
                <td><label>CreatedDate:</label></td>
                <td><input id="CreatedDate" name="CreatedDate" type="text" value="{{CreatedDate}}" /></td>
                <td><label>DueDate:</label></td>
                <td><input id="DueDate" name="DueDate" type="text" value="{{DueDate}}" /></td>
            </tr>
            <tr>
                <td><label>Week:</label></td>
                <td><input id="Week" name="Week" type="text" value="{{Week}}" /></td>
                <td><label>PlanDueDate:</label></td>
                <td><input id="PlanDueDate" name="PlanDueDate" type="text" value="{{PlanDueDate}}"/></td>
            </tr>
            <tr>
                <td><label>Assignee:</label></td>
                <td><input id="Assignee" name="Assignee" type="text" value="{{Assignee}}" /></td>
                <td><label>Reporter:</label></td>
                <td><input id="Reporter" name="Reporter" type="text" value="{{Reporter}}" /></td>
            </tr>
            <tr>
                <td><label>BuildStatus:</label></td>
                <td>
                  <select id="BuildStatus" name="BuildStatus" validate="{required:true}" >
                    <option value="" >None</option>
                    <option value="FAILURE" >FAILURE</option>
                    <option value="SUCCESS">SUCCESS</option>
                    <option value="BUILDING">BUILDING</option>
                </select>
                </td>
                <td><label>TestStatus:</label></td>
                <td><input id="TestStatus" name="TestStatus" type="text" value="{{TestStatus}}" /></td>
            </tr>
            <tr>
                <td><label >Summary:</label></td>
                <td colspan=3><textarea id="Summary" name="Summary" class="ui_textarea" rows=1 >{{Summary}}</textarea></td>
            </tr>
            <tr>
                <td><label >Description:</label></td>
                <td colspan=3><textarea id="Description" name="Description" class="ui_textarea" rows=5 >{{Description}}</textarea></td>
            </tr>
            <tr>
                <td colspan=4 align="center"> 
                    <input value="update" type="submit" style="word-wrap:normal;width:80px;" />
                    <input value="markSucc" type="button" style="word-wrap:normal;width:80px;" onclick="ligerDialog_markSucc();" />
                    <input value="close" type="button" style="word-wrap:normal;width:80px;" onclick="ligerDialog_close();" />
                </td>
            </tr>
        </table>
    </form>
    <p>
    <!--textarea id="result_textarea" style="display:{{rltdisp}};width:837px" rows=15 >{{rlt}}</textarea-->
    </p>
     
 <script type="text/javascript">
   
     function ligerDialog_markSucc()
     {
         $("#BuildStatus").val("SUCCESS");
         $("#form1").submit();
     }
     function ligerDialog_close()
     {
        parent.$.ligerDialog.close(); //关闭弹出窗; //关闭弹出窗
        parent.$(".l-dialog,.l-window-mask").css("display","none"); //只隐藏遮罩层
     }
     
     $("#BuildStatus").val("{{BuildStatus}}");
     
     $("#CreatedDate").ligerDateEditor({ showTime: true, label: '', labelWidth: 100, labelAlign: 'left' });
     $("#DueDate").ligerDateEditor({ label: '', labelWidth: 100, labelAlign: 'left', initValue: '{{DueDate}}'});
     $("#PlanDueDate").ligerDateEditor({ label: '', labelWidth: 100, labelAlign: 'left', initValue: '{{PlanDueDate}}'});
     $("#RealDueDate").ligerDateEditor({ label: '', labelWidth: 100, labelAlign: 'left', initValue: '{{RealDueDate}}'});
     $("#Week").ligerDateEditor({ label: '', labelWidth: 100, labelAlign: 'left', initValue: '{{Week}}'});
     $("#CreatedDate").ligerGetDateEditorManager().setValue('{{CreatedDate}}');
     $("#DueDate").ligerGetDateEditorManager().setValue('{{DueDate}}'.replace(' 100:00:00',''));
     $("#PlanDueDate").ligerGetDateEditorManager().setValue('{{PlanDueDate}}'.replace(' 100:00:00',''));
     $("#RealDueDate").ligerGetDateEditorManager().setValue('{{RealDueDate}}'.replace(' 100:00:00',''));
     $("#Week").ligerGetDateEditorManager().setValue('{{Week}}'.replace(' 100:00:00',''));
    </script>

</body>
</html>
